#navegacion{
    padding:0px;
}

/*header*/
#navbar{
    height:80px;
    background-color: rgb(51, 52, 52);
}


#titulo{
    color: white;
}


#menu{
    margin-left:550px; 
}


#N1{
    color: white;
}
#N2{
    color: rgb(107, 107, 107);
}
#N3{
    color: rgb(107, 107, 107);
}
#N4{
    color: rgb(107, 107, 107);
}



#boton1{
    border:0;
    color: rgb(7, 143, 7);
    text-decoration: none;
}

#boton1:hover{
    color: white;
    text-decoration: none;
}


/*Main/
/*Article 1*/
.oscurecer-img{
    filter:brightness(50%)
}

.align-content-around{
    text-align: right;
    margin-top: 800px;
    margin-bottom: 200px;
    margin-left:600px;
}



/*Article 2*/
#principaltitulo{
    margin-left:715px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#suborador{
    margin-left: 700px;
    padding: 0px;
    
}

#card1{
    margin-left: 300px;
    margin-right:30px;
}
#card2{
    margin-right:30px;
}
#card3{
    margin-right:300px
}


/*Article 3*/
.right{
    color: white;
    background: rgb(43, 42, 42);
    height: 50vh;
    width: 50%;
}
.left{
    background: url(imagenes_integrador_front/honolulu.jpg);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 50vh;
}

#pantalla-dividida{
    margin-top: 40px;
    display: flex;
}

.textoctubre{
    margin-left:10px;
}



/*Article 4*/
#encabezado{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 0px;
}


#form{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#validationCustom01{
    width: 350px;
    margin-left: 145px;
}

#validationCustom02{
    width: 335px;
   
}


#boton2{
    width: 700px;
    margin-left: 400px;
    background-color: rgb(112, 195, 35);
    border-color:rgb(112, 195, 35); 
    cursor: pointer;
    
}
#boton2:hover{
    background:rgb(35, 117, 12);
    border-color:rgb(35, 117, 12);
}


#floatingTextarea{
   width: 700px;
   margin-left: 400px;
    
}

#observacion{
    margin-left:400px ;
}


/*Footer*/
#navbarNav{
    height:80px;
    background-color: rgba(37, 76, 105, 0.998);
   
}
#listapie{
    margin-left:200px;
}

#N5{
    margin-right:40px;
    color: white;
}
#N6{
    margin-right:40px;
    color:white;
}
#N7{
    margin-right:40px;
    color:white;
}
#N8{
    margin-right:40px;
    color:white;
}
#N9{
    margin-right:40px;
    color: white;
}
#N10{
    margin-right:40px;
    color: white;
}
#N11{
    margin-right:40px;
    color: white;
}





